<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Home Page</title>   
</head>
<body>
    <div class="cent">
      <h1>MongoDB Login System</h1>
      <p>This is a side project developed to boost my knowledge on mongoDB and ExpressJs</p>
      <a href="/signup">Register Here <br />or</a><br />
      <a href="/login">Login to DashBoard</a>
    </div>
</body>
</html>