<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>
<body>
    <h2>Signup</h2>
    <form action="/signup" method="post">
        <label>Name:
            <input type="text" name="name" placeholder="Name">
            <input type="password" name="password" placeholder="Password">
            <input type="submit">
        </label>
    </form>
    <a href="/login">Already have an account? Login Here.</a>
</body>
</html>